{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}
<br>
<div class="container">
    <h1>Hello! This is learning page</h1>
</div>
{% endblock %}
