{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}
<br>
<div class="container">
    <h3>Hello {{name|title}}</h3>
    <form action="{{ path('changeName') }}" method="post">
        <input type="text" name="name">
        <input type="submit" name="submit" value="submit">
    </form>
    <br>
    <br>
    {{generateQuote()}}
</div>
{% endblock %}
